html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(110deg, rgb(255, 255, 255), rgb(255, 68, 99));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
}

header {
    text-align: center;
}

.mainheader {
    color: black;
    text-align: center;
    margin: 35px;
    margin-top: 80px;
}

nav {
    text-align: center;
    background: black;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 99;
}

nav ul {
    margin: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 15px 30px 15px 30px;
}

#divider {
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

nav a {
    padding: 15px 5px 15px 5px;
    color: white;
}

nav a:hover {
    color: rgb(0, 0, 0);
    background:rgb(255, 255, 255);
    padding: 15px 5px 15px 5px;
}

header div {
    opacity: 95%;
    border-radius: 10px;
    vertical-align: middle;
    padding: 10px 45px 20px 45px;
    margin: 10px 45px 10px 45px;
}

header div a {
    margin: 0px 20px 0px 20px;
}

header div a:hover {
    filter: invert(1);
}

#pp {
    border-radius: 200px;
}

#intro {
    text-align: center;
}

section {
    text-align: center;
    background: white;
    padding: 20px;
    margin: 10px;
    padding-top: 50px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


section a:hover {
    background: khaki;
}

section h3 {
    text-align: left;
}

section div {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    padding: 15px;
}

section ul {
    padding-top: 5px;
    margin: 0;
    list-style-type: none;
}

.projects li {
    display: inline-block;
    padding: 10px;
}

section div ul {
    list-style-type: square;
}

.important {
    font-size: 25px;
}

.important2 {
    font-size: 20px;
}

.closer {
    padding: 0 15% 0 15%
}

footer {
    background: black;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

footer br {
    display: none;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    background: khaki;
}

@media screen and (max-width: 1080px) {
    .pc {
        display: none;
    }

    body {
        font-size: 3rem;
    }

    .important {
        font-size: 3rem;
    }

    .important2 {
        font-size: 3rem;
    }

    #intro img {
        width: 70%;
        height: auto;
        border-radius: 800px;
        margin-top: 50px;
    }
    
    header div img {
        width: 15%;
        height: auto;
    }

    header div h1 {
        font-size: 5rem;
    }

    section div img {
        width: 15%;
        height: auto;
    }

    #ilogo {
        text-align: center;
    }

    #iblock {
        width: 50%;
        height: auto;
    }

    .projects img {
        width: 80%;
        height: auto;
    }

    footer {
        font-size: 35px;
    }

    footer br {
        display: initial;
    }
}